<div class="row justify-content-center">
  <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-4">
    <form (ngSubmit)="onUpdatePassword(f)" #f="ngForm">
      <div class="form-group">
        <label for="password">Current Password</label>
        <input
          class="form-control"
          type="password"
          id="password"
          name="password"
          ngModel
          required
          #password="ngModel"
          [ngClass]="{
            'is-invalid':
              error?.password ||
              (password.invalid && (password.dirty || password.touched))
          }"
        />
        <div
          class="invalid-feedback"
          *ngIf="password.invalid && (password.dirty || password.touched)"
        >
          Please enter your current password
        </div>
        <div *ngIf="error?.password" class="invalid-feedback">
          {{ error.password }}
        </div>
      </div>

      <div class="form-group">
        <label for="newPassword">New Password</label>
        <input
          class="form-control"
          type="password"
          id="newPassword"
          name="newPassword"
          ngModel
          required
          #newPassword="ngModel"
          [ngClass]="{
            'is-invalid':
              error?.newPassword ||
              (newPassword.invalid &&
                (newPassword.dirty || newPassword.touched))
          }"
        />
        <div
          class="invalid-feedback"
          *ngIf="
            newPassword.invalid && (newPassword.dirty || newPassword.touched)
          "
        >
          Please enter your new password
        </div>
        <div *ngIf="error?.newPassword" class="invalid-feedback">
          {{ error.newPassword }}
        </div>
      </div>

      <div class="form-group">
        <label for="newPassword2">Confirm New Password</label>
        <input
          class="form-control"
          type="password"
          id="newPassword2"
          name="newPassword2"
          ngModel
          required
          #newPassword2="ngModel"
          [ngClass]="{
            'is-invalid':
              error?.newPassword2 ||
              (newPassword2.invalid &&
                (newPassword2.dirty || newPassword2.touched))
          }"
        />
        <div
          class="invalid-feedback"
          *ngIf="
            newPassword2.invalid && (newPassword2.dirty || newPassword2.touched)
          "
        >
          Please enter conformation password
        </div>
        <div *ngIf="error?.newPassword2" class="invalid-feedback">
          {{ error.newPassword2 }}
        </div>
      </div>

      <div class="alert alert-danger" *ngIf="error">
        Failed to update password!
      </div>

      <button class="btn btn-primary" type="submit" [disabled]="!f.valid">
        Update
      </button>
    </form>
  </div>
</div>
